/* STYLES.CSS */

html, body {
	height: 100%;
	width: 100%;
	background-color: #515151;
	margin: 0;
	padding: 0;
}

#mark {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 30vh;
	font-size: 10em;
	font-family: arial;

}

/*#topRow {
	width: 100%;
	height: auto;
	margin: 0;
}

#middleRow {
	width: 100%;
	height: auto;
	margin: 0;
}

#bottomRow {
	width: 100%;
	height: auto;
	margin: 0;
}*/

.board {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: center;
  width: 100%;
  height: auto;
  
}

.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 32.5vh;
  width: 32.5vh;
  margin: .2em .2em;
  background-color: #D7D7D7;
}

.cell:hover {
	background-color: #FFFFFF;
}